.task
bin
frontend/dist
frontend/node_modules
build/linux/appimage/build
build/windows/nsis/MicrosoftEdgeWebview2Setup.exe
config.yaml
wails_windows_amd64.syso
*.zip
gotohp-cli
gotohp
frontend/bindings/
build/windows/icon.ico
build/windows/info.json
build/windows/wails.exe.manifest
frontend/bindings/app/backend/configmanager.ts
frontend/bindings/app/backend/index.ts
frontend/bindings/app/backend/mediabrowser.ts
frontend/bindings/app/backend/models.ts
frontend/bindings/app/backend/utils.ts
frontend/bindings/app/backend/configmanager.ts
frontend/bindings/app/backend/index.ts
frontend/bindings/app/backend/mediabrowser.ts
frontend/bindings/app/backend/models.ts
frontend/bindings/app/backend/utils.ts
